<div class="fifth-container">
    <h1 class="contact-me">Contact me.</h1><br>
    <div class="email-contact">Get in touch via the form below, or by emailling <a
            href="mailto:piotrdylla@gmail.com">piotrdylla@gmail.com</a></div>>
    <form>
        <label for="fname" class="name-email">Name:</label><br>
        <input type="text" id="fname" name="fname" placeholder="Enter your name "><br>
        <label for="lname" class="name-email">E-mail:</label><br>
        <input type="email" id="email-enter" name="email-enter" placeholder="Enter your Email adress"><br>
        <label for="lname" class="name-email">Message:</label><br>
        <textarea class="textarea-container" placeholder="Enter your message"></textarea>

        <div class="submit-container">
            <input class="submit-button" type="submit" value="Send">
        </div>
    </form>

    <div class="end-of-page">

        <div class="imp-privacy">
           <a routerLink="/imprint" >imprint</a>
            <div class="imp-privacy-1" id="privacy">privacy</div>
        </div>

        <div class="in-git-xing">
            <a routerLink="/"><img src="assets/img/linkedin-box-fill.png"></a>
            <a routerLink="/"><img src="assets/img/github-fill.png"></a>
            <a routerLink="/"><img src="assets/img/xing-fill.png"></a>

        </div>

    </div>
</div>