<div id="portflolio"class="third-container">

    <h2 class="my-skills">MY Work</h2>

    <div class="buttons-project">

    <button class="button-project">All</button>
    <button class="button-project">Angual</button>
    <button class="button-project">Java script</button>

</div>

<div class="projects">

    <div class="two-projects">
        <div class="project"></div>
        <div class="project"></div>
    </div>

    <div class="two-projects">
        <div class="project"></div>
        <div class="project"></div>
        
    </div>

</div>

</div>