
.third-container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;

}

.button-project {
    color: #FA2759;
    background-color: black;
    border: #FA2759 solid;
    height: 100px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    color: white;

    &:hover {
    background-color: #FA2759;
    color: white;
      
    }
}
.projects {
    display: flex;
    
    
    }

.two-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project {
    display: flex;
        height: 300px;
        width: 300px;
        margin: 20px;
        background-color: white;
    }


