<div id="my-work"class="second-container">
    <h2 class="my-skills">MY Skills</h2>

    <div class="skills-container">

    <div class="skills-container-three">
     <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/java script.png"></div><div class="skill-box">Java script</div></div>
     <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/angular.png"></div><div class="skill-box">Angular</div></div>
     <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/CSS.png"></div><div class="skill-box">HTML/CSS</div></div>      
    </div>
    <div class="skills-container-three">
        <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/Group 226.png"></div><div class="skill-box">SCRUM</div></div>
        <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/Git-Icon.png"></div><div class="skill-box">Git</div></div>
        <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/Thinking.png"></div><div class="skill-box">Desing<br> Thinking</div></div>  
        </div>
        <div class="skills-container-three">
            <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/Rest.png"></div><div class="skill-box">Rest API</div></div>
            <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/test-icon.png"></div><div class="skill-box">Test <br>automation</div></div>
            <div class="logo-skills-container"> <div class="logo-container"><img src="assets/img/database-icon.png"></div><div class="skill-box">Databases</div></div>  

    </div>
</div>

</div>
