<div id="about" class="fourth-container">

    <div class="pic-about-me">
        <img class="pic" src="assets/img/Foto.jpg">
        <div class="about-me">
            <h2 class="about">About me</h2>I’m Business Computer Scientist,
            Certified Business Date Processing Specialist and <br> front end developer,
            who like sport and challenge.
        </div>
    </div>

    <hr class="line">

    <div class="trip">
        <div class="trip-1">
            <div class="pic-around"><img class="trip-pic" src="assets/img/walk-line.png"></div>
            <h4>MY JOURNEY BEGAN</h4>
            <p class="text-journey">
                began when I was fired from my job.
                I have to think of a new way.
                The programmer's way.
            </p>
        </div>
        <div class="trip-1">
            <div class="pic-around"><img class="trip-pic" src="assets/img/heart-line.png"></div>
            <h4>OVER TIME</h4>
            <p class="text-journey">
                I had learned to code for myself. 
                I became a business computer specialist and
                state-certified business informatics specialist,
                where I learned the basics of web development.
            </p>
        </div>
        <div class="trip-1">
            <div class="pic-around"><img class="trip-pic" src="assets/img/search-line.png"></div>
            <h4>DEVELOPER AKADEMIE</h4>
            <p class="text-journey">
                was my next step to becoming 
                a professional front end web developer.
            </p>
        </div>
        <div class="trip-1">
            <div class="pic-around"><img class="trip-pic" src="assets/img/flight-takeoff-line.png"></div>
            <h4>START AS A DEVELOPER</h4>
            <p class="text-journey">
                by learning in the Developer Academy I had 
                a lot of practice in the projects. 
                Now it's time for my next step in my career.
            </p>
        </div>




    </div>





</div>