
.first-container {
    height: 85vh;
    h1 {
        font-size: 50px;
    }
    padding-left: 10vh;
    padding-right: 10vh; 
}

.introduce-pic-container {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.introduce {
color: white;
line-height: 2;


}

.name {
    color: #FA2759;
}

.letter {
    color: #2DFCD8;
}

.pic {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit: cover;
}

.button-contact-me {
    color: #2DFCD8;
    background-color: black;
    border: #2DFCD8 solid;
    height: 80px;
    width: 230px;
    cursor: pointer;
   

    &:hover {
    background-color: rgba(255, 255, 255, 0.1);
      
    }

}

.button-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}
.img-button-down {
    height: 60px;
    
 
}

.img-button-down{
    cursor: pointer;
    border-radius: 100%;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}
