<div id = "home"class="first-container">

<div class="introduce-pic-container">

    <h1 class="introduce">
        <span>Hi, <br>
        I'm <span class="name">Piotr</span> Dylla<br>
        Front End develop<span class="letter">e</span>r

        </span><br>

        <button class="button-contact-me">Contact me</button>
    </h1>

    <img class="pic" src="assets/img/Foto.jpg">

</div>
<div class="button-down">
 <a href="#my-work"><img  class="img-button-down" src="assets/img/button-down.png"></a> 
</div>


</div>
